<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-EasyAuth.WebApp-20130208103539;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-EasyAuth.WebApp-20130208103539.mdf" />
  </connectionStrings>  
</configuration>