<div>
    <div style="width: 49%; float:left">
        @Html.Partial("_Navigation")
    </div>
    <div style="width: 49%; float:right; text-align: right;">
        @Html.Partial("_Status")
    </div>
</div>
<br style="clear:both" />