<p>
    @Html.ActionLink("Home", "Index", "Home") /     
    @Html.ActionLink("Members Only", "MembersOnly", "Home") / 
    @Html.ActionLink("Create User", "CreateUser", "Home") / 
    @Html.ActionLink("List Users", "ListUsers", "Home")
</p>